#cookies-consent {
    background-color:#252525;
    display:none;
    text-align: center;
    position: absolute;
    margin:auto;
    left: 0;
    top: 0;
    right: 0;
    z-index: 99;
    height: 156px;
}

#cookies-consent-font{
    font-size: 16px;
    color: #FFFFFF;
}