@font-face {
    font-family: UniversArabicForHSBC-Bold;
    src: url(../font/UniversArabicForHSBC-Bold.ttf);
}

@font-face {
    font-family: UniversArabicForHSBC-Light;
    src: url(../font/UniversArabicForHSBC-Light.ttf);
}

@font-face {
    font-family: UniversArabicForHSBC-Regular;
    src: url(../font/UniversArabicForHSBC-Regular.ttf);
}

@font-face {
    font-family: UniversArabicForHSBC-Thin;
    src: url(../font/UniversArabicForHSBC-Thin.ttf);
}