#main-support {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 72px;
    margin-bottom: 56px;
    background-color: #ffffff;
    text-align: left;
}
#main-support h1 {
    font-family: UniversNextforHSBC-Light;
    font-size: 35px;
    color: #333333;
    text-align: center;
    line-height: 42px;
}
#main-support h2 {
    font-family: UniversNextforHSBC-Light;
    font-size: 28px;
    color: #333333;
    line-height: 36px;
}
.main-support-item {
    display: inline-block;
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 120px;
    text-align: left;
}
.main-support-item a {
    font-family: UniversNextforHSBC-Regular;
    font-size: 16px;
    color: #333333;
    line-height: 24px;
}

