#main-apis {
    margin: 0 100px;
}
#main-apis h1 {
    font-family: UniversNextforHSBC-Light;
    font-size: 35px;
    color: #333333;
    text-align: center;
    line-height: 42px;
    margin-bottom: 48px;
}
#main-apis .main-apis-text {
    margin-bottom: 48px;
    margin-left: -30px;
    margin-right: 30px;
}

#main-apis .main-apis-icon img{
    width: 42px;
    height: 42px;
}

#main-apis .main-apis-text h2 {
    font-weight: normal;
    font-family: UniversNextforHSBC-Light;
    font-size: 28px;
    color: #333333;
    line-height: 36px;
    margin-bottom: 16px;
    display:inline;
    margin-right: 7.2px;
}
#main-apis #api-roles-metrics-documentation{
    margin-right: 0px;
    padding-right: 0px;
    width: 530px;
}
#main-apis .main-apis-text p{
    font-family: UniversNextforHSBC-Regular;
    font-size: 16px;
    color: #333333;
    line-height: 24px;
    margin-top: 16px;
}
#main-apis .btn-secondary{
    margin-bottom: 56px;
    margin-left: 46%;
    background-color: #FFFFFF;
    border-radius: 0;
    text-align: center;
    height: 44px;
    border: 1px solid;
    padding-top: 9px;
    padding-bottom: 11px;
    padding-left: 20px;
    padding-right: 20px;
}

#main-apis .btn-secondary:hover{
    background-color: #F3F3F3;
}
#main-apis .btn-secondary:active{
    background-color: #EDEDED;
}
#main-apis .btn-secondary a{
    font-family: UniversNextforHSBC-Regular;
    font-size: 16px;
    color: #333333;
    text-align: center;
    line-height: 24px;
}

.icon-branches {
    #display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(/media/images/icons/apis/webhooks.svg) no-repeat;
    width: 100px; /* Width of new image */
    height: 80px; /* Height of new image */
    padding-left: 100px; /* Equal to width of new image */
}

.icon-transactions {
    #display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(/media/images/icons/apis/transactions.svg) no-repeat;
    width: 100px; /* Width of new image */
    height: 80px; /* Height of new image */
    padding-left: 100px; /* Equal to width of new image */
}

.icon-metadata {
    #display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(/media/images/icons/apis/metadata.svg) no-repeat;
    width: 100px; /* Width of new image */
    height: 80px; /* Height of new image */
    padding-left: 100px; /* Equal to width of new image */
}

.icon-counterparties {
    #display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(/media/images/icons/apis/counterparties.svg) no-repeat;
    width: 100px; /* Width of new image */
    height: 80px; /* Height of new image */
    padding-left: 100px; /* Equal to width of new image */
}

.icon-entitlements {
    #display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(/media/images/icons/apis/branches_ATMs_and_products.svg) no-repeat;
    width: 100px; /* Width of new image */
    height: 80px; /* Height of new image */
    padding-left: 100px; /* Equal to width of new image */
}

.icon-messages {
    #display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(/media/images/icons/apis/customer_onboarding_and_KYC.svg) no-repeat;
    width: 100px; /* Width of new image */
    height: 80px; /* Height of new image */
    padding-left: 100px; /* Equal to width of new image */
}

.icon-security {
    #display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(/media/images/icons/apis/roles_metrics_and_documentation.svg) no-repeat;
    width: 100px; /* Width of new image */
    height: 80px; /* Height of new image */
    padding-left: 100px; /* Equal to width of new image */
}

.icon-requests {
    #display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(/media/images/icons/apis/payments_and_transfers.svg) no-repeat;
    width: 100px; /* Width of new image */
    height: 80px; /* Height of new image */
    padding-left: 100px; /* Equal to width of new image */
}

.icon-kyc {
    #display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(/media/images/icons/apis/search_warehouse.svg) no-repeat;
    width: 100px; /* Width of new image */
    height: 80px; /* Height of new image */
    padding-left: 100px; /* Equal to width of new image */
}