#main-faq {
    text-align: left;
    background-color: white;
}
#main-faq .row {
    margin-left: 80px;
    margin-right: 80px;
}

#main-faq .row .main-faq-left{
    padding-left: 15px;
    padding-right: 60px;
}

#main-faq .row .main-faq-right{
    padding-left: 60px;
    padding-right: 15px;
}

#main-faq h1{
    font-family: UniversNextforHSBC-Light;
    font-size: 35px;
    color: #333333;
    text-align: center;
    line-height: 42px;
    background-color: white;
    margin-top: 72px;
    margin-bottom: 48px;
}

#main-faq h2 {
    font-family: UniversNextforHSBC-Regular;
    font-size: 16px;
    color: #333333;
    line-height: 24px;
}

#main-faq hr {
    margin-bottom: 10px;
    margin-top: 0px;
}
#main-faq hr:last-child {
    margin-top: 160px;
    margin-bottom: 70px;
    width: 86%;
    color: #D7D8D6;
}
#main-faq p, #main-faq ol{
    margin-top: 10px;
    font-family: UniversNextforHSBC-Light;
    font-size: 16px;
    color: #333333;
    line-height: 24px;
}

#main-faq a{
    margin-top: 10px;
    font-family: UniversNextforHSBC-Light;
    font-size: 16px;
    color: #333333;
    line-height: 24px;
    text-decoration:underline;
}

#main-faq .main-faq-button {
    margin: 5px;
    background-image: url('/media/images/icons/up_arrow.png');
    background-repeat:no-repeat;
    background-position: right;
}
#main-faq .main-faq-button.collapsed {
    background-image: url('/media/images/icons/down_arrow.png');
    background-position: right;
    background-repeat:no-repeat;
}