@import url(/media/css/fonts.css);

@font-face {
    font-family: UniversNextForHSBC-Light;
    src: url(/media/font/UniversNextforHSBC-Light.otf);
}

body {
    font-family: "UniversNextForHSBC-Light";
}

header #header-decoration,
.navbar-default,
#main-links,
#authorise,
#signup,
#recover-password,
#register-consumer,
#create-account,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
#vendor-support,
#main-links {
    background-color: #ffffff;
}

#logo-right-xs {
    max-width: 43%;
    min-width: 43%;
    padding: 6%;
    padding-top: 6%;
    padding-right: 6%;
    padding-bottom: 6%;
    padding-left: 6%;
    padding-right: 10%;
}


#vendor-support {
    padding: 0px 0px;
    color: white;
    background-color: #333333;
    text-align: center;
}

#vendor-support h2 {
    font-size: 24px;
}

.vendor-support-item {
    display: inline-block;
    margin: 30px 10px;
}

.vendor-support-item a {
    color: white;
}
@media (min-width: 768px) {
    .container {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}