@import url(/media/css/fonts.css);

@font-face {
    font-family: UniversNextForHSBC-Light;
    src: url(/media/font/UniversNextforHSBC-Light.otf);
}

body {
    font-family: "UniversNextForHSBC-Light";
}

header #header-decoration,
.navbar-default,
#main-links,
#authorise,
#signup,
#recover-password,
#register-consumer,
#create-account,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
#main-showcases,
#vendor-support,
#main-links {
    background-color: #ffffff;
}

#logo-right-xs {
    max-width: 43%;
    min-width: 43%;
    padding: 6%;
    padding-top: 6%;
    padding-right: 6%;
    padding-bottom: 6%;
    padding-left: 6%;
    padding-right: 10%;
}

#main-showcases {
    background-color: #333333;
}

#main-showcases h1 {
    color: white;
}

footer {
    background-color: #333333;
}

#recover-password #recover-password-submit input {
    color: #FFF;
    background-color: #DB0011;
}

#vendor-support {
    padding: 0px 0px;
    color: white;
    background-color: #333333;
    text-align: center;
}

#vendor-support h2 {
    font-size: 24px;
}

.vendor-support-item {
    display: inline-block;
    margin: 30px 10px;
}

.vendor-support-item a {
    color: white;
}

.icon-branches {
    #display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(/media/images/icons/apis/webhooks.svg) no-repeat;
    width: 100px; /* Width of new image */
    height: 80px; /* Height of new image */
    padding-left: 100px; /* Equal to width of new image */
}

.icon-transactions {
    #display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(/media/images/icons/apis/transactions.svg) no-repeat;
    width: 100px; /* Width of new image */
    height: 80px; /* Height of new image */
    padding-left: 100px; /* Equal to width of new image */
}

.icon-metadata {
    #display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(/media/images/icons/apis/metadata.svg) no-repeat;
    width: 100px; /* Width of new image */
    height: 80px; /* Height of new image */
    padding-left: 100px; /* Equal to width of new image */
}

.icon-counterparties {
    #display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(/media/images/icons/apis/counterparties.svg) no-repeat;
    width: 100px; /* Width of new image */
    height: 80px; /* Height of new image */
    padding-left: 100px; /* Equal to width of new image */
}

.icon-entitlements {
    #display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(/media/images/icons/apis/branches_ATMs_and_products.svg) no-repeat;
    width: 100px; /* Width of new image */
    height: 80px; /* Height of new image */
    padding-left: 100px; /* Equal to width of new image */
}

.icon-messages {
    #display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(/media/images/icons/apis/customer_onboarding_and_KYC.svg) no-repeat;
    width: 100px; /* Width of new image */
    height: 80px; /* Height of new image */
    padding-left: 100px; /* Equal to width of new image */
}

.icon-security {
    #display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(/media/images/icons/apis/roles_metrics_and_documentation.svg) no-repeat;
    width: 100px; /* Width of new image */
    height: 80px; /* Height of new image */
    padding-left: 100px; /* Equal to width of new image */
}

.icon-requests {
    #display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(/media/images/icons/apis/payments_and_transfers.svg) no-repeat;
    width: 100px; /* Width of new image */
    height: 80px; /* Height of new image */
    padding-left: 100px; /* Equal to width of new image */
}

.icon-kyc {
    #display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(/media/images/icons/apis/search_warehouse.svg) no-repeat;
    width: 100px; /* Width of new image */
    height: 80px; /* Height of new image */
    padding-left: 100px; /* Equal to width of new image */
}

@media (min-width: 768px) {
    .container {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}