@import url('reset.css');
@import url(/media/css/get-started.css);
@import url(/media/css/main-about.css);
@import url(/media/css/nav.css);
@import url(/media/css/main-apis.css);
@import url(/media/css/main-faq.css);
@import url(/media/css/main-support.css);
@import url(/media/css/main-start.css);
@import url(/media/css/authorise.css);
@import url(/media/css/register-consumer.css);
@import url(/media/css/signup.css);
@import url(/media/css/recover-password.css);

html {
	font-family: "UniversArabicForHSBC-Regular";
	height: 100%
}

body {
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #333;
}

h1 {
	font-weight: normal;
	font-size: 28px;
	color: #333333;
}

h2 {
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 10px;
}

a {
	font-family: UniversNextforHSBC-Regular;
	color: #333333;
	text-decoration: none;
}

header .logo {
	margin: 20px 0;
}
header .logo img {
	max-height: 80px;
}
header .logo-xs img {
	max-width: 280px;
	max-height: 80px;
	margin: 10px auto;
}
header #logo-right {
	text-align: right;
}

#table-header {
    width: 100%;
	display: none;
}

#logo-left-xs {
    max-width: 50%;
    min-width: 50%;
    vertical-align: baseline;
    padding:3%;
    padding-left: 10%;
}
#td-logo-left-xs {
    vertical-align: middle;
    text-align: left;
}
#logo-right-xs {
    max-width: 50%;
    min-width: 50%;
    padding:3%;
    padding-right: 10%;
}
#td-logo-right-xs {
    vertical-align: middle;
    text-align: right;
}

header #header-decoration {
	background-color: #53C4EF;
	height: 35px;
	display: none;
}
header #lift__noticesContainer__ {
	display: none;
}

footer {
	padding: 24px 100px;
	color: #FFFFFF;
	background-color: #3C3C3C;
	text-align: left;
	line-height: 20px;
}
footer a,span, footer a:hover,span:hover  {
	font-size: 14px;
	letter-spacing: 0;
	line-height: 20px;
	color: #FFFFFF;
}
footer #copyright {
	margin-bottom: 10px;
}

#main-showcases {
	margin-top: 70px;
	padding: 50px 10px;
	color: white;
	background-color: #53C4EF;
	text-align: center;
}
.main-showcases-item {
	display: inline-block;
	margin: 30px 10px;
	width: 300px;
	font-size: small;
}
.main-showcases-item a {
	color: white;
}
.main-showcases-item a:hover {
	text-decoration: underline;
}

#main-partners {
	padding-bottom: 50px;
	text-align: center;
}
#main-partners img {
	width: 160px;
}
#main-partners a {
	margin:auto;
	display: inline-block;
	padding: 30px 30px 30px 30px;
}

#vendor-support {
	padding: 60px 10px;
	color: white;
	background-color: #53C4EF;
	text-align: center;
}
#vendor-support h2 {
	font-size: 24px;
}
.vendor-support-item {
	display: inline-block;
	margin: 30px 10px;
}
.vendor-support-item a {
	color: white;
}

/* from oauth/authorize.html */
#verifier {
	margin-top: 30px;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}

/* wrap text, break at any position, no matter where it it word ending*/
.wrap-text {
	word-break: break-all;
	overflow-wrap: break-word;
}

.btn-danger {
	font-family: UniversNextforHSBC-Regular;
	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
	line-height: 24px;
	background: #DB0011;
	border-radius: 0;
	margin-left: 20px;
	padding-top: 10px;
	height: 44px;
}