@import url('reset.css');

html {
	font-family: "UniversArabicForHSBC-Regular";
	height: 100%
}


body {
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #333;
}

h1 {
	font-size: 35px;
	line-height: 40px;
	text-align: center;
	margin-bottom: 30px;
	color: #333;
}

h2 {
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 10px;
}

a {
	font-family: UniversNextforHSBC-Regular;
	color: #666666;
	text-decoration: none;
}

header .logo {
	margin: 20px 0;
}
header .logo img {
	max-height: 80px;
}
header .logo-xs img {
	max-width: 280px;
	max-height: 80px;
	margin: 10px auto;
}
header #logo-right {
	text-align: right;
}

#table-header {
    width: 100%;
	display: none;
}

#logo-left-xs {
    max-width: 50%;
    min-width: 50%;
    vertical-align: baseline;
    padding:3%;
    padding-left: 10%;
}
#td-logo-left-xs {
    vertical-align: middle;
    text-align: left;
}
#logo-right-xs {
    max-width: 50%;
    min-width: 50%;
    padding:3%;
    padding-right: 10%;
}
#td-logo-right-xs {
    vertical-align: middle;
    text-align: right;
}

header #header-decoration {
	background-color: #53C4EF;
	height: 35px;
	display: none;
}
header #lift__noticesContainer__ {
	display: none;
}

nav {
	margin-bottom: 0 !important;
}
.navbar {
	border-radius: 0;
}
.navbar-default {
	background-color: #53C4EF;
	border: none;
}
.navbar-default .navbar-nav > li > a:link, .navbar-default .navbar-nav > li > a:visited {
	font-family: UniversNextforHSBC-Light;
	font-size: 22px;
	color: #333333;
	line-height: 31px;
	padding-top: 27px;
}
#navitem-logo{
	padding-top: 22px;
}

.navbar-right{
	margin-right: 80px;
	margin-top: 27px;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
	color: #241e23;
}
.navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > li.active > a:focus, .navbar-default .navbar-nav > li.active > a:hover, .navbar-default .navbar-nav > li.active > a:visited {
	color: #555;
	background-color: white;
	border: none;
}
.navbar-default .navbar-toggle {
	border-color: white;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #33a4cf;
}
.navbar-btn a {
	margin-left: 15px;
}
.navbar-btn .login {
	margin-right: 25px;
}
.navbar-btn .logout {
	margin-right: 20px;
}
#loggedIn-username {
	font-family: UniversNextforHSBC-Regular;
	font-size: 16px;
	color: #333333;
	line-height: 24px;
}

#main-start{
	margin: 0;
	padding: 50px;
	text-align: center;
	background-color: #F3F3F3;
}

#main-start h1{
	font-size: 28px;
	text-align: left;
}
#main-start .btn-default{
	margin-right:20px;
	background-color: #F3F3F3;
}


#for-banks {
	padding: 50px 0;
}

footer {
	padding: 24px 100px;
	color: #FFFFFF;
	background-color: #3C3C3C;
	text-align: left;
	line-height: 20px;
}
footer a,span, footer a:hover,span:hover  {
	font-size: 14px;
	letter-spacing: 0;
	line-height: 20px;
	color: #FFFFFF;
}
footer #copyright {
	margin-bottom: 10px;
}

#main-about {
	padding-top: 50px;
	background-size: cover;
	background-repeat: no-repeat;
	font-size: 17px;
}

@media only screen and (min-width: 500px) and (max-width: 550px) {
.container {max-width: 500px;}
  #main-about {
    background-repeat:repeat-y;
    background-size:500px;
   }
}
@media only screen and (min-width: 450px) and (max-width: 500px) {
.container {max-width: 450px;}
  #main-about {
    background-repeat:repeat-y;
    background-size:450px;
   }
}
@media only screen and (min-width: 400px) and (max-width: 450px) {
.container {max-width: 400px;}
  #main-about {
    background-repeat:repeat-y;
    background-size:400px;
   }
}
@media only screen and (min-width: 350px) and (max-width: 400px) {
  .container {max-width: 350px;}
  #main-about {
    background-repeat:repeat-y;
    background-size:350px;
  }
}
@media only screen and (max-width: 350px) {
  .container {max-width: 300px;}
  #main-about {
    background-repeat:repeat-y;
    background-size: 300px;
  }
}

#main-about h1 {
	font-size: 44px;
	color: #333333;
	letter-spacing: 0;
	line-height: 50px;
	text-align: left;
	padding-top: 32px;
	padding-left: 32px;
}
#main-about h2 {
	padding: 20px 10px 2px 10px;
	color: white;
	margin: 20px 10px 20px 20px;
	font-size: 40px;
	line-height: 42px;
	font-weight: normal;
	text-align: left;
}
#main-about p {
	padding: 10px 10px 10px 32px;
	margin-bottom: 32px;
	font-size: 22px;
	color: #333333;
	line-height: 31px;
}
#main-about #main-about-box {
	background-color: white;
	margin-top: 79px;
	padding-bottom: 40px;
	margin-bottom: 80px;
	margin-left: 100px;
}
#main-about #main-about-text a {
	text-decoration: underline;
	color: white;
}
#main-about #main-about-buttons {
	margin: 20px 0 0 30px;
}
#main-about #main-about-buttons .api-explorer-link {
	margin-right: 20px;
	margin-left: 0px;
}



#main-get-started {
	padding: 50px 10px;
	background-color: #ffffff;
}
#main-get-started h2 {
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 10px;
}
#main-get-started .main-get-started-icon, #main-get-started .main-get-started-item {
	text-align: center;
}
#main-get-started .main-get-started-item {
	margin-bottom: -6px;
}
#main-get-started .main-get-started-text {
	padding: 20px 30px;
	text-align: left;
}



#main-apis {
	padding-top: 50px;
}
#main-apis h2 {
	font-weight: bold;
	font-size: 24px;
	margin-top: 13px;
}
#main-apis .main-apis-text {
	margin-bottom: 50px;
}



#main-showcases {
	margin-top: 70px;
	padding: 50px 10px;
	color: white;
	background-color: #53C4EF;
	text-align: center;
}
.main-showcases-item {
	display: inline-block;
	margin: 30px 10px;
	width: 300px;
	font-size: small;
}
.main-showcases-item a {
	color: white;
}
.main-showcases-item a:hover {
	text-decoration: underline;
}



#main-faq {
	text-align: left;
	padding: 50px 0;
	background-color: white;
}
#main-faq h2 {
	font-size: 16px;
	margin: 0;
}

#main-faq hr {
	margin-bottom: 10px;
	margin-top: 0px;
}
#main-faq p, #main-faq ol {
	margin-top: 10px;
}
#main-faq .main-faq-button {
	margin: 10px;
	background-image: url('https://static.openbankproject.com/images/sandbox/faq/minus.png');
	background-repeat:no-repeat;
}
#main-faq .main-faq-button.collapsed {
	background-image: url('https://static.openbankproject.com/images/sandbox/faq/plus.png');
}
#main-faq .main-faq-button:hover {
	cursor: pointer;
}
#main-faq ol {
	list-style-type: decimal;
	margin-left: 20px;
}



#main-start_building {
	padding: 50px 0;
}



#main-partners {
	padding-bottom: 50px;
	text-align: center;
}
#main-partners img {
	width: 160px;
}
#main-partners a {
	margin:auto;
	display: inline-block;
	padding: 30px 30px 30px 30px;
}



#main-support {
	padding: 60px 10px;
	color: white;
	background-color: #53C4EF;
	text-align: center;
}
#main-support h2 {
	font-size: 24px;
}
.main-support-item {
	display: inline-block;
	margin: 30px 10px;
}
.main-support-item a {
	color: #241e23;
}
.main-support-item h2 {
	color: #241e23;
}



#vendor-support {
	padding: 60px 10px;
	color: white;
	background-color: #53C4EF;
	text-align: center;
}
#vendor-support h2 {
	font-size: 24px;
}
.vendor-support-item {
	display: inline-block;
	margin: 30px 10px;
}
.vendor-support-item a {
	color: white;
}





.bigbutton {
	margin: 30px auto;
	text-align: center;
	background-color: white;
}
.bigbutton a {
	border: 3px solid green;
	border-radius: 25px;
	color: green;
	padding: 10px;
	font-size: 16px;
	text-decoration: none;
}
.bigbutton a:hover {
	background-color: green;
	color: white;;
}



#authorise,
#recover-password,
#signup,
#create-account,
#register-consumer {
	background-color: #53C4EF;
	padding: 20px 10px;
	color: white;
	margin: 30px auto;
}
#authorise #login-special-instructions {
	text-align: center;
	margin-bottom: 20px;
}
#authorise form,
#authorise #oauth-done-thanks,
#recover-password form,
#recover-password #recover-password-explanation,
#signup form {
	max-width: 400px;
	margin: 0 auto;
	color: #333333;
}

#signup form h1:first-child{
	font-size: 28px;
	color: #333333;
	letter-spacing: 0;
	line-height: 36px;
	text-align: left;
	width: 500px;
}

#signup form span{
	margin-bottom: 15px;
	font-size: 16px;
	color: #333333;
	line-height: 24px;
}
#signup form span input:first-child{
	margin-bottom: 15px;
}
#signup form span input:last-child{
	margin-top: 15px;
}

#signup form label{
	margin-bottom: 15px;
	font-size: 16px;
	color: #333333;
	line-height: 24px;
}
#authorise .authorise-button {
	margin-bottom: 10px;
}
#authorise #authorise-submit {
	text-align: left;
}
#authorise #authorise-submit input,
#recover-password #recover-password-submit input,
#signup #signup-submit input {
	/* Copy of bootstrap .btn */
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	border-color: #ccc;
	color: #333;
	background-color: white;
	text-transform: uppercase;
}
#authorise #authorise-submit input:hover,
#recover-password #recover-password-submit input:hover,
#signup #signup-submit input:hover {
	background-color: #e6e6e6;
}

#authorise #authorise-recover-password {
	font-size: 12px;
	color: black;
	text-decoration:underline
}
#authorise .login-error {
	margin-bottom: 10px;
	color: red;
}



#recover-password #recover-password-email input,
#signup input[type="text"],
#signup input[type="password"]
{
	/* Copy of bootstrap .form-control */
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#recover-password #recover-password-email input:focus,
#signup input[type="text"]:focus,
#signup input[type="password"]:focus {
	border-color: #66afe9;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
#recover-password h1 + div {
	text-align: center;
}
#recover-password .form-group {
	margin-top: 20px;
}



#signup #signup-error,
#signup .form-group,
#signup #signup-agree-terms,
#signup #signup-agree-privacy-policy,
#signup #signup-submit {
	margin-bottom: 20px;
	text-align: justify;
}

#login-Register-text, #login-form-username, #login-form-password{
	color: black;
}

#create-account a,
#signup #signup-agree-terms a,
#signup #signup-agree-privacy-policy a,
#register-consumer a,
#authorise #manual-redirect a {
	color: white;
}
#create-account #create-account-explanation,
#create-account form,
#register-consumer #register-consumer-explanation,
#register-consumer form,
#register-consumer-errors,
#register-consumer-success {
	max-width: 600px;
	margin: 0 auto;
	color: #333333;
}

#register-consumer-input form label{
	margin-bottom: 10px;
}

#register-consumer-input form .btn-danger{
	margin-left: 0; 
}
#create-account #create-account-explanation,
#register-consumer #register-consumer-explanation {
	margin-bottom: 20px;
	color: #333333;
	font-size: 22px;
}
#register-consumer #register-consumer-explanation p{
	margin-top: 10px;
	color: #333333;
	font-size: 14px;
}


#create-account #create-account-id span,
#create-account #create-account-bank-id span,
#create-account #create-account-initial-balance span,
#create-account #create-account-currency span {
	font-weight: bold;
}



#register-consumer #appDesc {
	height: 96px;
}
#register-consumer #register-consumer-errors {
	margin-bottom: 20px;
}
#register-consumer #register-consumer-success {
	margin-top: 30px;
}
#register-consumer #register-consumer-success p {
	font-family: UniversNextforHSBC-Light;
	font-size: 22px;
	color: #333333;
	letter-spacing: 0;
	margin-bottom: 20px;
	line-height: 31px;
}
#register-consumer h1 {
	font-size: 28px;
	color: #333333;
	letter-spacing: 0;
	line-height: 36px;
	text-align: left;
	padding-left: 260px;
}

#register-consumer-success span,
#register-consumer-success a{
	font-size: 16px;
	color: #333333;
	line-height: 24px;
}
#register-consumer #register-consumer-success .row {
	margin-bottom: 20px;
}
#register-consumer #register-consumer-success .row div:nth-child(1) {
	font-weight: bold;
}



/* from oauth/authorize.html */
#verifier {
	margin-top: 30px;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}

/* wrap text, break at any position, no matter where it it word ending*/
.wrap-text {
	word-break: break-all;
	overflow-wrap: break-word;
}

#authorise #thanks-h1{
	font-size: 28px;
	color: #333333;
	letter-spacing: 0;
	line-height: 36px;
}

#authorise #thanks-detail{
	font-size: 16px;
	color: #333333;
	line-height: 24px;
	margin-top: 32px;
	margin-bottom: 48px;
}

#authorise #manual-redirect .btn-danger{
	margin: 0;
}